# Python cache files
__pycache__/
*.pyo

# Virtual environments
.venv/

# Django migration files (optional)
**/migrations/*

# Local settings and environment files
.env

# Node modules (if using front-end assets)
node_modules/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log


# Git files
.git/
.gitignore

# Docker-related files
docker-compose.override.yml

#db
db_configurations/postgres_data
